<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="/static/style/login.css" rel="stylesheet">
</head>
<body class="">
    <!-- ヘッダー -->
    <header class="bg-gray-100 shadow-md p-2">
        <div class="flex items-center justify-between">
            <a href="/home"><img src="/static/images/MySite.jpg" alt="Logo" class="h-logo"></a>
            <nav class="" >
                <ul class="flex">
                    <li class="bg-gray-500 text-2xl rounded mr-4 py-2 px-4">{{ session.get('username', '') }}様</li>
                    <!-- <li class="bg-blue-500 rounded mr-4 py-2 px-4"><a href="/user/update" class="text-white hover:text-indigo-500">ユーザー情報の変更</a></li>
                    <li class="bg-blue-500 rounded mr-4 py-2 px-4"><a href="/logout" class="text-white hover:text-indigo-500">ログアウト</a></li> -->
                </ul>
            </nav>
        </div>
    </header>

    <!-- メインコンテンツ -->
    {% block content %}{% endblock %}
</body>
</html>
